*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    position: relative;
}

.container{
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.header{
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav{
    display: flex;
    padding: 18px 79px;
    justify-content: space-around;
}

.logo{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
}

.nav__menu{
    margin-right: 79px;
    display: flex;
    justify-content: flex-end;
}
.menu__item{
    display: flex;

}

.menu-link{
    display: flex;
    flex-direction: row;
    padding-right: 27px;
}

.menu__item-title{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-right: 5px;
    padding-left: 5px;
}

.menu__user-link{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

.menu__item:nth-child(3)::after{
    content: " | ";
    border-left: 1px solid #FFFFFF;
    opacity: 0.5;
    padding-right: 27px;
}

.logo:hover{
    color: #01813F;
}

.icon path:hover{
    fill: #01813F;
    stroke: #01813F;
}

.menu__user-link:hover{
    color: #01813F;
}

.form {
    position: absolute;
    width: 444px;
    background: #FFF;
    text-align: center;
    padding-top: 31px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 38px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.form__top{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.form__signUp{
    display: flex;
    font-size: 20px;
    line-height: 20px;
    color:#434343;
}

.form__signUp::before{
    position: absolute;
    background: #3CB878;
    content: "";
    width: 18px;
    height: 18px;
    left: -60px;
}

.form__signUp-logIn{
    display: flex;
    text-align: right;
    color: #3CB878;
}

.form__signUp-logIn:hover{
    color: #01813F;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 31px;
}

.btn{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    text-decoration: none;
    width: 160px;
    height: 48px;
    border-radius: 4px;
}

.btn__fb{
    background-color: #305DB8;
    font-size: 16px;
}

.btn__fb:hover{
    background-color: #022263;
}

.btn__google{
    background-color: #DF4A32;
}

.btn__google:hover{
    background-color: #AB1F09;
}

.icon__text{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.line{
    position: relative;
    margin-bottom: 12px;
}


.text{
    display: inline-block;
    position: absolute;
    color: #848484;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFF;
    padding: 0 2px;
    z-index: 5;
}


input{
    width: 322px;
    height: 44px;
    border: 1px solid #F2F2F2;
    margin-bottom: 16px;
    padding-left: 20px;
}

::placeholder{
    color: #BEBEBE;
}

input:active{
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
}

.visability-hidden{
    visibility: hidden;
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox{
    display: flex;
    align-items: center;
}

.input__castom{
    display: none;
}

.checkbox-custom{
    display: flex;
}

.checkbox-custom:before{
    content: " ";
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin-right: 4px;
}

.input__castom:checked + .checkbox-custom::before{
    background-image: url("../images/4.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox p{
    padding-left: 8px;
    color: #434343;
}

.checkbox a{
    color: #3CB878;
}

.checkbox a:hover{
    color: #01813F;
}

.btn_create{
    display: inline-block;
    max-width: 100%;
    width: max-content;
    padding: 16px 99px;
    color: #FFFFFF;
    border: 1px solid rgba(60, 184, 120, 0.80);
    background: rgba(60, 184, 120, 0.80);
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
}

.btn_create:hover{
    background-color: #01813F;
}